<p-splitter [style]="{ height: '600px' }" styleClass="mb-5">
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      <app-d3 [data]="$data()"></app-d3>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex flex-column">
      <p-table
        [value]="$stocks()"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        selectionMode="single"
        [columns]="cols"
        (onEditInit)="onEditStockInit($event)"
        (onEditComplete)="onEditStockComplete($event)"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Stocks
            <div>
              <p-button size="small" label="Generate stocks" class="mx-1" (onClick)="generateStocks()"/>
              <p-button
                size="small"
                icon="pi pi-plus"
                (onClick)="addStock()"
                class="mx-1"
              />
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col
              *ngFor="let col of columns"
              span="1"
              [style.width]="col.width ? col.width : 'auto'"
              [style.min-width]="col.minWidth ? col.minWidth : 'auto'"
            />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [class.text-center]="col.align === 'center'"
              [class.text-right]="col.align === 'right'"
            >
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
          let-i="rowIndex"
        >
          <tr>
            <td
              *ngFor="let col of columns"
              [class.text-center]="col.align === 'center'"
              [class.text-right]="col.align === 'right'"
              [pEditableColumn]="rowData[col.field]"
              [pEditableColumnField]="col.field"
              [pEditableColumnRowIndex]="i"
              [pEditableColumnDisabled]="!col.editable"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  @switch (col.cellType) { @case (cellType.InputNumber) {
                  <form [formGroup]="formGroup">
                    <p-inputNumber
                      [formControlName]="col.field"
                      inputStyleClass="w-full"
                    />
                  </form>
                  } @default {
                  <form [formGroup]="formGroup">
                    <input
                      [formControlName]="col.field"
                      pInputText
                      class="w-full"
                    />
                  </form>
                  } }
                </ng-template>
                <ng-template pTemplate="output">
                  @switch (col.cellType) { @case (cellType.Checkbox) {
                  <p-checkbox [binary]="true" [ngModel]="rowData[col.field]" />
                  } @case (cellType.Icon) {
                  <i
                    class="{{ col.iconClass }}"
                    [ngStyle]="{ cursor: 'pointer' }"
                    (click)="
                      col.iconOnClick &&
                        col.iconOnClick(rowData[col.field], i, $event)
                    "
                  ></i>
                  } @default {
                  {{ rowData[col.field] }}
                  } }
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-table
        [value]="$parts()"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        selectionMode="single"
        [columns]="cols2"
        (onEditInit)="onEditPartInit($event)"
        (onEditComplete)="onEditPartComplete($event)"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Parts
            <div>
              <p-button
                size="small"
                label="Generate parts"
                class="mx-1"
                (onClick)="generateParts()"
              /><p-button
                size="small"
                icon="pi pi-plus"
                (onClick)="addPart()"
              />
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col
              *ngFor="let col of columns"
              span="1"
              [style.width]="col.width ? col.width : 'auto'"
              [style.min-width]="col.minWidth ? col.minWidth : 'auto'"
            />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [class.text-center]="col.align === 'center'"
              [class.text-right]="col.align === 'right'"
            >
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
          let-i="rowIndex"
        >
          <tr>
            <td
              *ngFor="let col of columns"
              [class.text-center]="col.align === 'center'"
              [class.text-right]="col.align === 'right'"
              [pEditableColumn]="rowData[col.field]"
              [pEditableColumnField]="col.field"
              [pEditableColumnRowIndex]="i"
              [pEditableColumnDisabled]="!col.editable"
            >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  @switch (col.cellType) { @case (cellType.InputNumber) {
                  <form [formGroup]="formGroup2">
                    <p-inputNumber
                      [formControlName]="col.field"
                      inputStyleClass="w-full"
                    />
                  </form>
                  } @default {
                  <form [formGroup]="formGroup2">
                    <input
                      [formControlName]="col.field"
                      pInputText
                      class="w-full"
                    />
                  </form>
                  } }
                </ng-template>
                <ng-template pTemplate="output">
                  @switch (col.cellType) { @case (cellType.Checkbox) {
                  <p-checkbox [binary]="true" [ngModel]="rowData[col.field]" />
                  } @case (cellType.Icon) {
                  <i
                    class="{{ col.iconClass }}"
                    [ngStyle]="{ cursor: 'pointer' }"
                    (click)="
                      col.iconOnClick &&
                        col.iconOnClick(rowData[col.field], i, $event)
                    "
                  ></i>
                  } @default {
                  {{ rowData[col.field] }}
                  } }
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-splitter>
